{% extends "clients/layout.html" %}

{% block title %}Detail: {{ client.company_name }}{% endblock %}

{% block content %}
<h1>Správa souborů: {{ client.company_name }}</h1>
<p>Zde jsou uvedeny absolutní cesty na serveru k důležitým souborům a složkám klienta. Můžete je použít pro přístup přes
    SFTP nebo pro přímou editaci na serveru.</p>

<div class="list-group mt-4">
    {% for name, content in file_tree.items %}
    <div class="list-group-item">
        <strong>Složka: <code>/srv/clients/{{ client.internal_name }}/{{ name }}</code></strong>
        <ul class="list-unstyled ps-3 mt-2">
            {% for dir in content.dirs %}
            <li>&#128193; {{ dir }}</li>
            {% endfor %}
            {% for file in content.files %}
            <li>&#128441; {{ file }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>

<a href="{% url 'dashboard' %}" class="btn btn-secondary mt-4">Zpět na Dashboard</a>
{% endblock %}